@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'FluentSystemIcons-Filled';
    src: url('./fonts/FluentSystemIcons-Filled.ttf');
}

@font-face {
    font-family: 'FluentSystemIcons-Regular';
    src: url('./fonts/FluentSystemIcons-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    cursor: default;
    font-family: 'Inter';
}

#root {
    background: #fff8e1;
    position: fixed;
    width: 100%;
    height: 100%;
}

.guildsList {
    width: 80px;
    height: 100%;
    overflow-y: auto;
    display: inline-block
}

.guildsListButtons {
    background: white;
    color: black;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: relative;
}

.guildsListButtons:hover {
    border-radius: 30%;
}

.guildsListButtons:disabled:before {
    position: absolute;
    content: '';
    background: black;
    width: 10px;
    height: 40px;
    margin-left: -40px;
    margin-top: -8px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.guildsListButtons:hover:before {
    position: absolute;
    content: '';
    background: black;
    width: 10px;
    height: 20px;
    margin-left: -40px;
    margin-top: 2px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.guildsListSpecialButton {
    color: white;
    background: #1976d2;
}

.guildsListFirstButton { 
    margin-top: 20px;
}

.guildsListBottom {
    margin-bottom: 25px;
}

.fluentIcon {
    font-family: 'FluentSystemIcons-Filled';
}

.fluentIconBorder {
    font-family: 'FluentSystemIcons-Regular';
}

.guildIcon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.actualContent {
    display: inline-block;
    position: absolute;
    width: calc(100% - 80px);
    height: 100%;
}

.sidebar {
    width: 198px;
    height: calc(100% - 35px);
    background: #fffde7;
    overflow-y: auto;
    border-left: 1px solid #0000001a;
    border-right: 1px solid #0000001a;
}

.unbuttoned {
    border: none;
    background: none;
    font-size: 20px;
}

.guildInfoContainer {
    position: relative;
}

.guildInfo {
    padding: 10px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #0000001a;
    display: flex;
    align-items: center;
    position: relative;
}

.guildInfoArrow {
    position: absolute;
    right: 10px;
}

.guildMenu {
    position: absolute;
    width: 188px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.guildMenuButton {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #fff8e1;
}

.guildMenuButton:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.guildMenuButton:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.guildMenuButtonIcon {
    float: left;
}

.guildMenuButtonText {
    text-align: right;
}

.guildMenuButton:hover {
    background: #fffde7;
}

.channel {
    background: #fffde7;
    border: none;
    width: calc(100% - 10px);
    text-align: left;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.channel:disabled {
    background: #ffe0b2;
    color: black;
}

.messagesScroll {
    position: absolute;
    overflow-y: auto;
    top: 45px;
    left: 200px;
    width: calc(100% - 200px);
    height: calc(100% - 115px);
}

.messages {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
}

.messageBoxContainer {
    position: absolute;
    bottom: 0;
    left: 200px;
    margin: 10px;
    width: 100%;
}

.messageBox {
    padding: 10px;
    border: none;
    width: calc(100% - 365px);
    resize: none;
    height: 35px;
    vertical-align: middle;
    border: 1px solid #0000001a;
    border-right: none;
}

.boxIconContainer {
    display: inline-flex;
    vertical-align: middle;
    background: white;
    height: 55px;
    border: 1px solid #0000001a;
    border-left: none;
}

.boxIconContainerEdit {
    display: none;
}

.boxIcon {
    vertical-align: middle;
    font-size: 20px;
    border: none;
    background: none;
    padding: 10px;
}

.boxIcon:hover {
    background: #fff8e1;
}

.sendButton {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border: none;
    background: #00e676;
    color: white;
    border-radius: 100%;
    vertical-align: middle;
}

.sendButton:hover {
    background: #00c853;
}

.sendButton:disabled {
    background: #00c853;
}

.messageContainer {
    padding: 5px;
    position: relative;
}

.messageContainerEdit {
    background: #fffde7;
}

.messageContainer:hover {
    background: #fffde7;
}

.messagePfp {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 20px;
}

.messagePostPfp {
    margin-left: 50px;
}

.messageInline > * {
    display: inline-block;
}

.messageUsername {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.messageDate { 
    color: grey;
    margin-right: 10px;
}

.message {
    font-weight: normal;
    display: inline-block;
    word-wrap: break-word;
    max-width: calc(100% - 50px);
}

.message[contenteditable="true"] {
    width: calc(100% - 125px);
    height: 35px;
    padding: 10px;
    background: white;
    vertical-align: middle;
    border: 1px solid #0000001a;
    border-right: none;
}

.userInfo {
    position: absolute;
    background: #ffe0b2;
    border-left: 1px solid #0000001a;
    border-right: 1px solid #0000001a;
    border-top: 1px solid #0000001a;
    width: 198px;
    height: 35px;   
    left: 80px;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.userInfoPfp {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 100%;
}

.userInfoUsername {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;
}

.userInfoSettings {
    margin-right: 10px;
}

.userInfoSettings:hover {
    color: #1976d2;
}

.channelInfo {
    position: absolute;
    background: #fffde7;
    width: calc(100% - 200px);
    height: 44px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0000001a;
    border-left: 1px solid #0000001a;
}

.channelInfoName {
    margin-left: 5px;
}

.channelInfoButtons {
    position: absolute;
    right: 0;
    height: 20px;
}

.channelInfoButton {
    margin-right: 25px;
}

.channelInfoButton:hover {
    color: #1976d2;
}

.emojiPicker {
    position: absolute;
     right: 265px;
     bottom: 70px;
}

.emojiPickerEdit {
    position: absolute;
    z-index: 1;
    right: 69px;
    top: 110px;
}

.pinsBox {
    position: absolute;
     right: 60px;
     top: 37px;
     background: #fffde7;
     width: 500px;
     height: calc(100vh - 135px);
     z-index: 1;
     border: 1px solid black;
     border-radius: 10px;
}

.pinMessageContainer:hover {
    background: white;
}

.pinMessageContainer:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pinMessageContainer:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pinX {
    float: right;
    cursor: pointer;
    margin-top: 10px;
}

.pinX:hover {
    color: #ff1744;
}

.simpleDialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 50px;
    background: #FFFDE7;
    border: 1px solid #0000001a;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.simpleDialogInput {
    padding: 10px;
    border: none;
    height: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
}

.simpleDialogButton {
    border: none;
    background: #00e676;
    color: white;
    padding: 10px 25px;
}

.simpleDialogButton:hover {
    background: #00c853;
}

.simpleDialogButton:disabled {
    background: #00c853;
}  

.simpleDialogClose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.simpleDialogClose:hover {
    color: #ff1744;
}

.opacitier {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    opacity: 30%;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.react-contextmenu {
    position: absolute;
    width: 190px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
}

.react-contextmenu-item {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    background: #fffde7;
}

.react-contextmenu-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.react-contextmenu-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.react-contextmenu-item-icon {
    float: left;
}

.react-contextmenu-item-text {
    text-align: right;
}

.react-contextmenu-item:hover {
    background: #fff8e1;
}