@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'FluentSystemIcons-Filled';
    src: url('./fonts/FluentSystemIcons-Filled.ttf');
}

@font-face {
    font-family: 'FluentSystemIcons-Regular';
    src: url('./fonts/FluentSystemIcons-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    cursor: default;
    font-family: 'Inter';
}

#root {
    background: var(--50);
    position: fixed;
    width: 100%;
    height: 100%;
}

#root.overflowAuto {
    overflow: auto;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner {
    border: 15px solid var(--100);
    border-right: 15px solid var(--300);
    width: 100px;
    height: 100px;
    border-radius: 100%;;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.error {
    font-size: 128px;
}

.homeMenu {
    background: var(--100);
    padding: 25px;
    display: flex;
    align-items: center;
}

.homeLogo {
    width: 50px;
    height: auto;
    display: block;
    float: left;
}

.homeMenu > h2 {
    margin-left: 10px;
}

.homeMenuLink {
    color: black;
    text-decoration: none;
    position: absolute;
    right: 25px;
}

.homeMenuLink > h2 {
    cursor: pointer;
}

.homeMenuLink:hover {
    color: dimgray;
}

.homeContent {
    text-align: center;
    flex-direction: column;
    padding: 25px;
}

.homeImportantDescription {
    margin-bottom: 25px;
}

.homeDescription {
    font-weight: normal;
}

.homeFeature {
    height: 200px;
    background: var(--100);
    margin-top: 25px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.homeFeatureIcon {
    font-size: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.homeThemeContainer {
    text-align: center;
    margin-top: 25px;
}

.homeTheme {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 5px;
    border: none;
}

.homeThemeRed {
    background: #F44336;
}

.homeThemePink {
    background: #E91E63;
}

.homeThemePurple {
    background: #9C27B0;
}

.homeThemeDeepPurple {
    background: #673AB7;
}

.homeThemeIndigo {
    background: #3F51B5;
}

.homeThemeBlue {
    background: #2196F3;
}

.homeThemeLightBlue {
    background: #03A9F4;
}

.homeThemeCyan {
    background: #00BCD4;
}

.homeThemeTeal {
    background: #009688;
}

.homeThemeGreen {
    background: #4CAF50;
}

.homeThemeLightGreen {
    background: #8BC34A;
}

.homeThemeLime {
    background: #CDDC39;
}

.homeThemeYellow {
    background: #FFEB3B;
}

.homeThemeAmber {
    background: #FFC107;
}

.homeThemeOrange {
    background: #FF9800;
}

.homeThemeDeepOrange {
    background: #FF5722;
}

.homeThemeBrown {
    background: #795548;
}

.homeThemeGrey {
    background: #9E9E9E;
}

.homeThemeBlueGrey {
    background: #607D8B;
}

.homeTheme:disabled > span {
    position: relative;
}

.homeTheme:disabled > span:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    font-family: FluentSystemIcons-Regular;
    font-size: 24px;
    content: '\f296';
}

.loginScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.loginInput {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
    display: block;
    width: 50%;
}

.loginButton {
    border: none;
    background: var(--300);
    color: white;
    padding: 10px 25px;
    margin-top: 10px;
}

.loginButton:hover {
    background: var(--200);
}

.loginButton:disabled {
    background: var(--200);
}

.loginError {
    visibility: hidden;
    color: red;
    margin-top: 10px;
}

.joinGuildMembers {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.joinGuildImage {
    background: white;
    color: black;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #0000001a;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guildsList {
    width: 80px;
    height: 100%;
    overflow-y: auto;
    display: inline-block;
    border-right: 1px solid #0000001a;
}

.guildsListButtons {
    background: white;
    color: black;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #0000001a;
}

.guildsListButtons:hover {
    border-radius: 30%;
}

.guildsListButtons:disabled {
    border-radius: 30%;
}

.guildsListButtons:disabled:before {
    position: absolute;
    content: '';
    background: black;
    width: 5px;
    height: 40px;
    margin-left: -40px;
    margin-top: -8px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.guildsListButtons:not(:disabled):hover:before {
    position: absolute;
    content: '';
    background: black;
    width: 5px;
    height: 20px;
    margin-left: -40px;
    margin-top: 2px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.guildsListSpecialButton {
    color: white;
    background: var(--300);
}

.guildsListFirstButton { 
    margin-top: 20px;
}

.guildsListBottom {
    margin-bottom: 25px;
}

.guildsListTooltip {
    background: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 70px;
    display: none;
    z-index: 1;
}

.guildsListTooltipShow {
    display: block;
}

.fluentIcon {
    font-family: 'FluentSystemIcons-Filled';
}

.fluentIconBorder {
    font-family: 'FluentSystemIcons-Regular';
}

.guildIcon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.actualContent {
    display: inline-block;
    position: absolute;
    width: calc(100% - 80px);
    height: 100%;
}

.sidebar {
    width: 199px;
    height: calc(100% - 35px);
    background: var(--100);
    overflow-y: auto;
    border-right: 1px solid #0000001a;
}

.unbuttoned {
    border: none;
    background: none;
    font-size: 20px;
}

.guildInfoContainer {
    position: relative;
}

.guildInfo {
    padding: 10px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #0000001a;
    display: flex;
    align-items: center;
    position: relative;
}

.guildInfoName {
    width: calc(100% - 20px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guildInfoArrow {
    position: absolute;
    right: 10px;
}

.guildMenu {
    position: absolute;
    width: 189px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.guildMenuButton {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--50);
}

.guildMenuButton:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.guildMenuButton:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.guildMenuButtonIcon {
    float: left;
}

.guildMenuButtonText {
    text-align: right;
}

.guildMenuButton:hover {
    background: var(--100);
}

.channel {
    background: var(--100);
    border: none;
    width: calc(100% - 10px);
    text-align: left;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.channel:disabled {
    background: var(--200);
    color: black;
}

.messagesScroll {
    position: absolute;
    overflow-y: auto;
    top: 45px;
    left: 200px;
    width: calc(100% - 200px);
    height: calc(100% - 115px);
}

.messages {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
}

.messageBoxContainer {
    position: absolute;
    bottom: 0;
    left: 200px;
    margin: 10px;
    width: 100%;
}

.messageBox {
    padding: 10px;
    border: none;
    width: calc(100% - 365px);
    resize: none;
    height: 35px;
    vertical-align: middle;
    border: 1px solid #0000001a;
    border-right: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.boxIconContainer {
    display: inline-flex;
    vertical-align: middle;
    background: white;
    height: 55px;
    border: 1px solid #0000001a;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.boxIconContainerEdit {
    display: none;
}

.boxIcon {
    vertical-align: middle;
    font-size: 20px;
    border: none;
    background: none;
    padding: 10px;
}

.boxIcon:hover {
    background: var(--50);
}

.sendButton {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border: none;
    background: var(--300);
    color: white;
    border-radius: 100%;
    vertical-align: middle;
}

.sendButton:hover {
    background: var(--200);
}

.sendButton:disabled {
    background: var(--200);
}

.messageContainer {
    padding: 5px;
    position: relative;
}

.messageContainerEdit {
    background: var(--100);
}

.messageContainer:hover {
    background: var(--100);
}

.messagePfp {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 20px;
}

.messagePostPfp {
    margin-left: 50px;
}

.messageInline > * {
    display: inline-block;
}

.messageUsername {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.messageDate { 
    color: grey;
    margin-right: 10px;
}

.message {
    font-weight: normal;
    display: inline-block;
    word-wrap: break-word;
    max-width: calc(100% - 50px);
}

.message[contenteditable="true"] {
    width: calc(100% - 125px);
    height: 35px;
    padding: 10px;
    background: white;
    vertical-align: middle;
    border: 1px solid #0000001a;
    border-right: none;
}

.userInfo {
    position: absolute;
    background: var(--200);
    border-left: 1px solid #0000001a;
    border-right: 1px solid #0000001a;
    border-top: 1px solid #0000001a;
    width: 199px;
    height: 35px;   
    left: 80px; 
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.userInfoPfp {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 100%;
}

.userInfoUsername {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;
}

.userInfoSettings {
    margin-right: 10px;
}

.userInfoSettings:hover {
    color: var(--300);
}

.channelInfo {
    position: absolute;
    background: var(--100);
    width: calc(100% - 200px);
    height: 44px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0000001a;
}

.channelInfoName {
    margin-left: 5px;
}

.channelInfoButtons {
    position: absolute;
    right: 0;
    height: 20px;
}

.channelInfoButton {
    margin-right: 25px;
}

.channelInfoButton:hover {
    color: var(--300);
}

.emojiPicker {
    position: absolute;
     right: 265px;
     bottom: 70px;
}

.emojiPickerEdit {
    position: absolute;
    z-index: 1;
    right: 69px;
    top: 110px;
}

.pinsBox {
    position: absolute;
     right: 60px;
     top: 37px;
     background: var(--100);
     width: 500px;
     height: calc(100vh - 135px);
     z-index: 1;
     border: 1px solid black;
     border-radius: 10px;
}

.pinMessageContainer:hover {
    background: var(--50);
}

.pinMessageContainer:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pinMessageContainer:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pinX {
    float: right;
    cursor: pointer;
    margin-top: 10px;
}

.pinX:hover {
    color: #ff1744;
}

.simpleDialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 50px;
    background: var(--100);
    border: 1px solid #0000001a;
    border-radius: 10px;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.simpleDialogInput {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
}

.simpleDialogButton {
    border: none;
    background: var(--300);
    color: white;
    padding: 10px 25px;
}

.simpleDialogButton:hover {
    background: var(--200);
}

.simpleDialogButton:disabled {
    background: var(--200);
}  

.simpleDialogClose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.simpleDialogClose:hover {
    color: #ff1744;
}

.simpleDialogLine {
    width: 100%;
    height: 1px;
    background: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.simpleDialogSelect {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.opacitier {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    opacity: 30%;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.react-contextmenu {
    position: absolute;
    width: 190px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
}

.react-contextmenu-item {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    background: var(--100);
}

.react-contextmenu-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.react-contextmenu-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.react-contextmenu-item-icon {
    float: left;
}

.react-contextmenu-item-text {
    text-align: right;
}

.react-contextmenu-item:hover {
    background: var(--50);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}